@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

mat-card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

mat-card form {
    display: flex;
    flex-direction: column;
}

mat-card textarea {
    min-height: 10rem;
}

#spinner {
    width:100px;
    height:100px;
    margin: auto;
    position: absolute;
    align-self: center;
    top: 0;
    bottom: 0;
}

#sentmessage {
    animation: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.submitting {
    pointer-events: none;
    filter: brightness(0.5);
}

#checkicon {
    color: var(--bluedark);
    font-size: 10rem;
    text-align: center;
}

#thanksmessage {
    font-weight: 400;
}