<div class="section">
    <div class="contentcontainer">
        <div class="content">
            <span class="socials">
                <mat-icon id="fbicon">facebook</mat-icon>
                <mat-icon id="emailicon">mail</mat-icon>
            </span>
            <span class="bottom">
                <ul>
                    <li *ngFor="let link of links"><a href="{{link.link}}">{{link.name}}</a></li>
                </ul>
                <span class="details">
                    <h6>Terms and Conditions</h6>
                    <h6>Privacy Policy</h6>
                    <p>Copyright Student Tutors 2022</p>
                </span>
            </span>
        </div>
    </div>
</div>

<div class="fb-customerchat"
     page_id="106614492208754">
</div>