.contentcontainer {
    padding-bottom: 20px;
}

.socials {
    margin-bottom: 0.8rem;
    margin-left: auto;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.bottom {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;

}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

h6 {
    font-size: 1rem;
}


ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 2.5rem;
}

p {
    font-size: 1rem;
}

li a {
    font-size: 1.2rem;
    font-weight: 300;
    text-decoration: none;
    color: rgb(33, 33, 33);
}

#fbicon {
    color: var(--bluedark);
}

#emailicon {
    color: white;
    display: flex;
    height: 20px;
    width: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border-radius: 50%;
    background-color: var(--bluedark);
}


@media only screen and (max-width:820px) {
    h2 {
        text-align: center;
    }

    .content {
        gap: 1rem;
        align-items: center;
    }

    .bottom {
        flex-direction: column-reverse;
        gap: 0;
    }

    .socials{
        margin-left: 0;
    }

}