.section {
    min-height: none;
}

* {
    white-space: nowrap;
}

.contentcontainer {

    overflow: hidden;
    bottom: 0;
    min-height: none;
    padding: 1rem 0 0 1rem;
}

.socials {
    margin-bottom: 0.8rem;
    display: flex;
    gap: .3rem;
    align-items: center;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.details {
    display: flex;
    align-items: center;
    gap: .7rem;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;

}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

h6 {
    font-size: 1rem;
}


ul {
    margin: 0;
    padding-left: 0;
    display: flex;
    list-style: none;
    gap: 2rem;
}

p {
    font-size: 1rem;
}

li a {
    font-size: 1.2rem;

    font-weight: 300;
    text-decoration: none;
    color: rgb(33, 33, 33);
}

a {
    text-decoration: none;
}

#fbicon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: var(--bluedark);
}

#emailicon {
    color: white;
    display: flex;
    height: 2.1rem;
    width: 2.1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 50%;
    background-color: var(--bluedark);
}



@media only screen and (max-width:820px) {
    h2 {
        text-align: center;
    }

    .content {
        gap: 1rem;
        align-items: center;
    }

    .bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .socials {
        margin: 0;
        margin-left: 0;
    }

}

@media only screen and (max-width: 600px) {
    .details {
        flex-direction: column;
        gap: 0.2rem;
    }

    .details * {
        margin: 0;
    }
}