.container {
    position: fixed;
    top: 0;
    display: flex;
    height: 100px;
    justify-content: center;
    background-color: white;
    box-shadow: 1;
    z-index: 100;
    box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;

}

.content {
    position: relative;
    width: 1150px;
    max-width: 1150px;
    display: flex;
    align-items: center;
}

.navitems {
    color: rgb(33, 33, 33);
    font-size: medium;
    font-weight: 300;
    list-style: none;
    display: flex;
    gap: 2rem;

}

.navitems a {
    text-decoration: none;
    color: rgb(33, 33, 33);
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#logo {
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
}

#logo img {
    height: 100%;
    max-width: 170px;
    width: 100%;
}

#menubtn {
    display: none;
}

#bookbtn {
    width: 8rem;
    font-weight: 400;
    position: absolute;
    right: 2rem;
}

@media only screen and (max-width: 830px) {
    .container {
        justify-content: space-between;
    }

    .navitems {
        margin-top: 3rem;
        background-color: white;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        padding-top: 2rem;
        top: calc(80px - 2rem);
        left: 0;
    }

    .close {
        display: none;
    }

    #bookbtn {
        position: relative;
        margin-left: 1.5rem;
    }

    #menubtn {
        position: absolute;
        right: 0;
        display: block;
        user-select: none;
        cursor: pointer;
    }
}