<app-navbar></app-navbar>
<div class="section grey">
    <div class="contentcontainer" id="header">
        <mat-card class="container">
            <h1>Terms and Conditions</h1>

            <p>Welcome to Student Tutors!</p>

            <p>These terms and conditions outline the rules and regulations for the use of Student Tutors NZ's Website,
                located at stutors.co.nz.</p>

            <p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Student
                Tutors if you do not agree to take all of the terms and conditions stated on this page.</p>

            <p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice
                and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and
                compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us",
                refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms
                refer to the offer, acceptance and consideration of payment necessary to undertake the process of our
                assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s
                needs in respect of provision of the Company’s stated services, in accordance with and subject to,
                prevailing law of New Zealand. Any use of the above terminology or other words in the singular, plural,
                capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
            </p>

            <h2>Cookies</h2>

            <p>We employ the use of cookies. By accessing Student Tutors, you agreed to use cookies in agreement with
                the Student Tutors NZ's Privacy Policy. </p>

            <p>Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are
                used by our website to enable the functionality of certain areas to make it easier for people visiting
                our website. Some of our affiliate/advertising partners may also use cookies.</p>

            <h2>License</h2>

            <p>Unless otherwise stated, Student Tutors NZ and/or its licensors own the intellectual property rights for
                all material on Student Tutors. All intellectual property rights are reserved. You may access this from
                Student Tutors for your own personal use subjected to restrictions set in these terms and conditions.
            </p>

            <p>You must not, without permission from Student Tutors :</p>
            <ul>
                <li>
                    <p>Republish material from Student Tutors</p>
                </li>
                <li>
                    <p>Sell, rent or sub-license material from Student Tutors</p>
                </li>
                <li>
                    <p>Reproduce, duplicate or copy material from Student Tutors</p>
                </li>
                <li>
                    <p>Redistribute content from Student Tutors</p>
                </li>
            </ul>

            <h2>Your Privacy</h2>

            <p>Please read Privacy Policy</p>

            <h2>Removal of links from our website</h2>

            <p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform
                us any moment. We will consider requests to remove links but we are not obligated to or so or to respond
                to you directly.</p>


        </mat-card>
    </div>
</div>
<app-footer></app-footer>