<app-navbar></app-navbar>
<div class="section grey">
    <div class="contentcontainer" id="intro">
        <h1>{{content.sectionone.heading}}</h1>
        <p>{{format(content.sectionone.body)}}</p>
    </div>
</div>
<div class="section blue">
    <div class="contentcontainer" id="contact">
        <div class="splitcontainer">
            <div class="section1">
                <h1>{{content.sectiontwo.heading}}</h1>
                <p>{{format(content.sectiontwo.body)}}</p>
            </div>
            <div class="section2">
                <app-contactform>
                </app-contactform>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>