<app-navbar></app-navbar>
<div class="section grey">
    <div class="contentcontainer" id="intro">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab repellat saepe illum necessitatibus id distinctio
            officiis dignissimos possimus impedit provident?</p>
    </div>
</div>
<div class="section blue">
    <div class="contentcontainer" id="contact">
        <div class="splitcontainer">
            <div class="section1">
                <h1>Get in Touch</h1>
                <p>If you have something that you are unsure of or want to arrange something that isn't listed on the
                    website, then feel free to use this contact form to see if we can work something out!</p>
            </div>
            <div class="section2">
                <app-contactform>
                </app-contactform>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>