<app-navbar></app-navbar>
<div class="section grey">
    <div class="contentcontainer" id="maincard">
        <div class="splitcontainer">
            <div class="section1">
                <mat-card>
                    <img mat-card-image src="./assets/aboutbooks.jpg" style="object-fit: cover;">
                </mat-card>
            </div>
            <div class="section2">
                <h1>About Us</h1>
                <p>{{format(content.abouttext)}}</p>
            </div>
        </div>
    </div>
</div>

<div class="section blue">
    <div class="contentcontainer" id="goals">
        <mat-card>
            <h1>Our Main Goals</h1>
            <p>{{format(content.goalsdescription)}}</p>
        </mat-card>
        <div class="goaldiv">
            <mat-card *ngFor="let goal of goals">
                <h2>{{goal.name}}</h2>
                <p>{{format(goal.description)}}</p>
            </mat-card>
        </div>
    </div>
</div>
<div class="section grey">
    <div class="contentcontainer" id="tonext">
        <img src="./assets/gyang2.jpg" alt="">

        <mat-card>
            <h1>{{content.sectionpromoter.heading}}</h1>
            <p>{{format(content.sectionpromoter.body)}}</p>
            <div class="bottomsection">
                <h2>{{content.sectionpromoter.name}}</h2>
                <h3>{{format(content.sectionpromoter.credidentials)}}</h3>
            </div>
        </mat-card>

    </div>
</div>
<app-footer></app-footer>