#maincard mat-card {
    padding: 2rem;
}

#maincard .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#goals {
    gap: 1rem;
}

.goaldiv {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.goaldiv mat-card {
    padding: 2rem;
}

.goaldiv h2 {
    font-size: 2rem;
    font-weight: 400;
}

#tonext h1 {
    text-align: left;
}


#tonext .section2 {
    flex: 2;
    z-index: 3;
    gap: 2rem;
}

#tonext mat-card {
    display: flex;
    flex-direction: column;
}

#tonext .bottomsection {
    text-align: right;
}

#tonext .bottomsection h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0;
}

#tonext p {
    font-size: 1.5rem;
    font-weight: 300;
}

#tonext .bottomsection h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}




#tonext img {
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
    object-fit: cover;
    clip-path: circle(36.1% at 32% 47%);
    height: 100%;
}

#tonext #bluecircle {
    position: absolute;
    top: 0;
    border-radius: 50%;
    z-index: 1;
    height: 40rem;
    width: 40rem;
    background-color: var(--bluedark);

}


@media only screen and (max-width:820px) {
    #maincard .splitcontainer {
        flex-direction: column-reverse;
    }

    #tonext p {
        font-size: 1.2rem;
    }

    #goals {
        overflow: hidden;
    }

    #tonext mat-card {
        padding: 1rem;
    }
}

@media only screen and (max-width: 820px) {

    #tonext {
        padding: 80px 0;
        padding-bottom: 10px;
    }

    #tonext .section2{
        align-self: flex-end;
        justify-self: flex-end;
    }

    .goaldiv {
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
}