#maincard mat-card {
    padding: 2rem;    
}

#maincard .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



#goals {
    gap: 1rem;
}

.goaldiv {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.goaldiv mat-card{
    padding: 2rem;
}

.goaldiv h2{
    font-size: 2rem;
    font-weight: 400;
}

#tonext h1 {
    text-align: left;
}

#tonext .section2 {
    flex: 2;
    gap: 2rem;
}

#tonext mat-card {
    display: flex;
    flex-direction: column;
}

#tonext .bottomsection {
    text-align: right;
}

#tonext .bottomsection h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0;
}

#tonext p {
    font-size: 1.5rem;
    font-weight: 300;
}

#tonext .bottomsection h3 {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}

#tonext img {
    object-fit: cover;
    max-width: 100vw;
    border-radius: 20px 20px 0 0;
}



@media only screen and (max-width:820px) {
    #maincard .splitcontainer {
        flex-direction: column-reverse;
    }

    #tonext p {
        font-size: 1.2rem;
    }

    #goals {
        overflow: hidden;
    }

    #tonext mat-card {
        padding: 1rem;
    }
}

@media only screen and (max-width: 820px){
    #tonext{
        padding: 80px 0;
    }
    .goaldiv{
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
}