#maincard mat-card {
    height: min-content;
}

#maincard .section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#goals .section1{
    z-index:1;
}
#goals .splitcontainer .section2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#goals::before {
    position: absolute;
    content: "";
    top:-5rem;
    left:-5rem;
    width: 40rem;
    height: 40rem;
    background-color: var(--bluedark);
    border-radius: 50%;

}

#tonext .section2{
    flex: 2;
    gap: 2rem;
}

#tonext .section2 mat-card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
}

#tonext .section2 .bottomsection{
    text-align: right;
}

#tonext .section2 .bottomsection h2{
    font-size:1.8rem;
    font-weight: 400;
    margin-bottom: 0;
}

#tonext .section2 .bottomsection h3{
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
}
@media only screen and (min-width:820px) {
    #goals .splitcontainer .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #goals .splitcontainer .section1 mat-card{
        padding: 2rem 3rem;
    }
}

@media only screen and (max-width:820px) {
    #maincard .splitcontainer {
        flex-direction: column-reverse;
    }
}