<app-navbar></app-navbar>
<div class="section blue">
    <div class="contentcontainer" id="maincard">
        <div class="splitcontainer">
            <div class="section1">
                <mat-card>
                    <img mat-card-image src="../../../assets/photo.png">
                </mat-card>
            </div>
            <div class="section2">
                <h1>About Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consectetur eaque in, ad nemo est
                    molestiae eos? Alias, voluptate hic. Vel sequi commodi qui maxime quam nam totam suscipit illo!</p>
            </div>
        </div>
    </div>
</div>

<div class="section grey">
    <div class="contentcontainer" id="goals">
        <div class="splitcontainer">
            <div class="section1">
                <mat-card>
                    <h1>Our Main Goals</h1>
                    <p>At student tutors, we have a very strong focus on making sure that there is enough standards
                        upheld
                        as well as utilising the best way Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit,
                        quisquam?</p>
                </mat-card>
            </div>
            <div class="section2">
                <mat-card>
                    <h2>Results</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, id!</p>
                </mat-card>
                <mat-card>
                    <h2>Comittment</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, unde!</p>
                </mat-card>
                <mat-card>
                    <h2>Proficiency</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, illum!</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>`
<div class="section grey">
    <div class="contentcontainer" id="tonext">
        <div class="splitcontainer">
            <div class="section1"></div>
            <div class="section2">
                <mat-card>
                    <h1>Trusted and Effective</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod omnis dolorum alias, vitae minima
                        cupiditate libero reprehenderit recusandae. Quas, magnam.</p>
                    <div class="bottomsection">
                        <h2>George Yang</h2>
                        <h3>NZ Prime Ministers Award</h3>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>