.head {
    width: 5rem;
    height: 2rem;
    position: absolute;
    top: -0.5rem;
    background-color: var(--bluedark);
    text-align: center;
    border-radius: 2rem;
    color: white;
}

h2 {
    font-weight: 300;
}

.circle {
    display: flex;
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.mat-card-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

.mat-card {
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mat-icon {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
}