#container {
    display: flex;
    transition: all 0.5s;
}

#spinning {
    position: absolute;
    z-index: 2;
    margin: auto;
    width: 100%;
    height: 300px;
    text-align: center;
    color: white;
    font-weight: 300;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.submitting {

    filter: brightness(0.5);
    pointer-events: none;
}

.formcontainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}

.mat-checkbox-label {
    display: flex;
}

.agreement {
    display: flex;
    gap: 10px;
    align-items: center;
}

.agreement p {
    margin: 0;
    font-size: small;
    align-self: flex-end;
    user-select: none;
}

.calender {
    padding: 1rem 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.calender .mat-form-field-wrapper{
    padding-bottom: .5em;
}

.buttoncontainer {
    width: 100%;
    display: flex;
}

#timeselect {
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr;
}

#timeinput {
    display: flex;
    width: 100%;
}

#forward {
    margin-left: auto;
}

p {
    font-weight: 300;
}

form {
    padding: 2rem 0;
}

mat-form-field {
    flex: 1;
}

#error {
    margin-top: 1rem;
    margin-bottom: 0;
    color: red;
}