<mat-card id="container">
    <mat-spinner *ngIf="submitting" id="spinning" color="accent"></mat-spinner>
    <div id="spinning" *ngIf="!submitting && submitted">
        <h2>Thanks for submitting! <br> we'll be in touch</h2>
        <button mat-raised-button color="accent" (click)="this.submitted = false">Submit another</button>
    </div>
    <mat-stepper #stepper [ngClass]="{'submitting': submitting || submitted}"
        [orientation]="(stepperOrientation | async)!" color="accent">
        <mat-step>
            <div>
                <form [formGroup]="bookForm">
                    <ng-template matStepLabel>Academic Information</ng-template>
                    <p>Some things about your education</p>
                    <div class="formcontainer">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>School Name</mat-label>
                            <input type="text" formControlName="schoolName" name="schoolName" matInput>
                        </mat-form-field>
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Year Level</mat-label>
                            <input type="number" formControlName="yearLevel" name="yearLevel" placeholder="9" matInput>
                        </mat-form-field>
                    </div>
                    <div class="formcontainer">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>What subjects would you like to take?</mat-label>
                            <input formControlName="subjects" name="subject" type="text" matInput>
                        </mat-form-field>
                    </div>
                    <div class="formcontainer">
                        <p>Let us know your avaliablility (Tick the times you are free).</p>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="formcontainer">
                        <div class="calender">
                            <div class=""><strong>Teaching Schedule</strong></div>
                            <div *ngFor="let day of days">{{day}}</div>
                            <div>Morning</div>
                            <div *ngFor="let day of days">
                                <mat-checkbox (change)="onAvaliabilityChange($event)"
                                    [value]="formatDate(day) + ' Morning'">
                                </mat-checkbox>
                            </div>
                            <div>Afternoon</div>
                            <div *ngFor="let day of days">
                                <mat-checkbox (change)="onAvaliabilityChange($event)"
                                    [value]="formatDate(day) + ' Afternoon'">
                                </mat-checkbox>
                            </div>
                            <div>Evening</div>
                            <div *ngFor="let day of days">
                                <mat-checkbox (change)="onAvaliabilityChange($event)"
                                    [value]="formatDate(day) + ' Evening'">
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                </form>
            </div>
            <div class="buttoncontainer">
                <button mat-raised-button color="accent" type="button" matStepperNext id="forward">Next</button>
            </div>
        </mat-step>
        <mat-step>
            <form [formGroup]="bookForm">
                <ng-template matStepLabel>Personal Information</ng-template>
                <p>Some contact details</p>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="firstName" formControlName="firstName" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input type="text" name="lastName" formControlName="lastName" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Middle Name(s)</mat-label>
                        <input type="text" name="middleName" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Date of Birth</mat-label>
                        <input type="date" formControlName="dob" name="dob" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" name="email" formControlName="email" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Mobile</mat-label>
                        <input type="tel" name="mobile" formControlName="mobile" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Street</mat-label>
                        <input type="text" name="street" formControlName="street" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Suburb</mat-label>
                        <input type="text" name="suburb" formControlName="suburb" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city" name="city">
                            <mat-option value="{{dispCity}}" *ngFor="let dispCity of cities">
                                {{dispCity}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Post Code</mat-label>
                        <input type="text" name="postCode" formControlName="postCode" matInput>
                    </mat-form-field>
                </div>

            </form>
            <span class="buttoncontainer">
                <button mat-raised-button type="button" matStepperPrevious id="back">Back</button>
                <button mat-raised-button color="accent" type="button" matStepperNext id="forward">Next</button>
            </span>
        </mat-step>
        <mat-step>
            <form [formGroup]="bookForm">
                <ng-template matStepLabel>Parent/Guardian</ng-template>
                <p>For use by Parent/Guardian (optional)</p>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input type="text" name="parentFirstName" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Middle Name(s)</mat-label>
                        <input type="text" name="parentMiddleName" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input type="text" name="parentLastName" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Relationship</mat-label>
                        <input type="text" name="parentRelationship" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" name="parentEmail" formControlName="parentEmail" matInput>
                    </mat-form-field>
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Mobile</mat-label>
                        <input type="tel" name="parentMobile" formControlName="parentMobile" matInput>
                    </mat-form-field>
                </div>
                <div class="formcontainer">
                    <mat-form-field color="accent" appearance="fill">
                        <mat-label>Anything else we should know?</mat-label>
                        <textarea type="text" name="message" formControlName="message" matInput></textarea>
                    </mat-form-field>
                </div>
                <span class="agreement">
                    <mat-checkbox name="agreed" formControlName="agreed" label="">
                    </mat-checkbox>
                    <p>I agree to share this data with
                        Student Tutors
                        (Parent approval needed if under 18)</p>
                </span>

            </form>
            <span class="buttoncontainer">
                <button mat-raised-button matStepperPrevious type="button" id="back">Back</button>
                <button mat-raised-button (click)="submit();" color="accent" id="forward">Submit</button>
            </span>
        </mat-step>

    </mat-stepper>

</mat-card>