.buttoncontent {
    display: flex;
    align-items: center;
    text-align: left;
    display: flex;
}

.buttoncontent mat-icon {
    position: absolute;
    right: 0.5rem;
}

.blue {
    background: none;
    width: 70%;
    border-color: white;
}

.grey {
    background: none;
    width: 70%;
}