.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: #618DFF;
}

#goalsection {
    position: absolute;
    filter: hue-rotate(202deg) brightness(0.75);
    background-image: url("/assets/goalsbackground.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.landingimagecontainer {
    max-width: 50%;
    min-height: 60vh;

    overflow: hidden;
}

.landing img {
    position: absolute;
    width: 100%;
    filter:  brightness(0.65);
    height: 100%;
    object-fit: cover;
}

#subjectgrid {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    max-height: 100%;
    overflow-y: auto;
}

#intro {
    padding-bottom: 0;
}

#intro .splitcontainer {
    margin-top: 0;
}

.landingimagecontainer {
    min-height: 60vh;
}

.landing h1 {
    font-family: 'Kollektif';
    margin: auto;
    max-width: 90vw;
    position: relative;
    top: 47vh;
    font-weight: 300;
    text-align: center;
    line-height: 6rem;
    font-size: 6rem;
    color: white;
}

#aboutcard {
    bottom: 5rem;
    height: 20rem;
    padding: 2rem;
}

#highlight {
    color: var(--bluedark);
}

#infocard {
    padding: 1.5rem;
}

#process {
    text-align: center;
    gap: 2rem;
}

#goal .section1 mat-card {
    padding-bottom: 0;
}

#getstarted h1 {
    font-size: 7rem;
    line-height: 7rem;
}

#getstarted img {
    max-width: 50vw;
}


#getstarted {
    position: relative;
}

.processcards {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 850px) {


    #aboutcard {
        bottom: 0;
        margin-bottom: 2rem;
    }

    .landing h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .processcards {
        display: flex;
        flex-direction: column;
    }

    #getstarted h1 {
        font-size: 3rem;
    }

    #getstarted .section1 {
        padding: 0;
    }

    #getstarted img {
        padding: 0;
        max-width: 90vw;
    }
}

@media only screen and (max-width: 540px) {
    .landing h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media only screen and (max-width: 530px) {
    .landing h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}