<app-navbar></app-navbar>
<div class="landing">
    <img src="./assets/classroom.jpg">
    <span class="heading">
        <h1>{{content.landingtext}}</h1>
    </span>
</div>
<div class="section grey">
    <div class="contentcontainer" id="intro">
        <h1>{{content.sectionone.heading}}</h1>
        <div class="splitcontainer">
            <div class="section1">
                <p>{{content.sectionone.firsthalf.body}}</p>
                <app-arrowbutton [text]="'See More'" [blue]="false"></app-arrowbutton>

            </div>
            <div class="section2">
                <mat-card id="aboutcard">
                    <mat-card-title>{{content.sectionone.secondhalf.heading}}</mat-card-title>
                    <mat-card-subtitle>At the highest level</mat-card-subtitle>
                    <mat-card-content>
                        <div id="subjectgrid">
                            <app-subjecticon *ngFor="let subject of subjects" name="{{subject.name}}"
                                image="{{getUrl(subject.image)}}"></app-subjecticon>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div class="section blue">
    <div class="contentcontainer" id="goal">
        <h1>{{content.sectiontwo.heading}}</h1>
        <mat-card>
            <div class="splitcontainer">
                <div class="section1">
                    <mat-card id="goalcard">
                        <img mat-card-image src="{{getUrl(content.sectiontwo.firsthalf.image)}}">
                    </mat-card>
                </div>
                <div class="section2">
                    <h2>{{content.sectiontwo.secondhalf.title}}</h2>
                    <p>{{content.sectiontwo.secondhalf.body}}</p>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<div class="section grey">
    <div class="contentcontainer" id="process">
        <h1>Our Process</h1>
        <span class="processcards">
            <app-processcard *ngFor="let process of process" [process]="process"></app-processcard>
        </span>
        <p>Want some changes to make this work for you? Feel free to <a routerLink="/Contact">contact us</a> to discuss!
        </p>
    </div>
</div>
<div class="section blue" id="getstarted">
    <div id="goalsection"></div>
    <div class="contentcontainer">

        <h1>
            {{content.sectionlast.content.heading}}
        </h1>
        <p>{{content.sectionlast.content.body}}</p>
        <app-arrowbutton [toPage]="'/Book'" [text]="'Get Started Now'" [blue]="true"></app-arrowbutton>

    </div>
</div>
<app-footer></app-footer>