.landing {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
    background-color: #618DFF;
}
#goalsection{
    position: absolute;
    filter:hue-rotate(202deg) brightness(0.75);
    background-image: url("/assets/goalsbackground.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.landingimagecontainer {
    max-width: 50%;
    min-height: 60vh;

    overflow: hidden;
}

.landing img {
    position: absolute;
    width: 100%;
    filter: hue-rotate(202deg) brightness(0.75);
    height: 100%;
    object-fit: cover;
}

#intro {
    padding-bottom: 0;
}

.landingimagecontainer {
    min-height: 60vh;
}

.landing h1 {
    position: relative;
    top: 35vh;
    font-weight: 700;
    text-align: center;
    line-height: 8rem;
    font-size: 8.5rem;
    color: white;
}

#aboutcard {
    bottom: 5rem;
    height: 20rem;
    padding: 2rem;
}

#highlight {
    color: var(--bluedark);
}

#infocard {
    padding: 1.5rem;
}

#process {
    text-align: center;
    gap: 2rem;
}

#getstarted h1 {
    font-size: 7rem;
    line-height: 7rem;
}

#getstarted img {
    max-width: 50vw;
}


#getstarted{
    position: relative;
}
.processcards {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 870px) {
    #aboutcard {
        bottom: 0;
        margin-bottom: 2rem;
    }

    .landing h1 {
        font-size: 4rem;
        line-height: 5rem;
    }

    .processcards {
        display: flex;
        flex-direction: column;
    }

    #getstarted h1 {
        font-size: 3rem;
    }

    #getstarted .section1 {
        padding: 0;
    }

    #getstarted img {
        padding: 0;
        max-width: 90vw;
    }
}