<app-navbar></app-navbar>
<div class="section blue">
    <div class="contentcontainer" id="header">
        <h1>Some helpful links</h1>
        <p>Here are some resources that Student Tutor provides, or some items you might be looking for</p>
    </div>
</div>
<div class="section grey">
    <div class="contentcontainer">
        <div class="cardcontainer">
            <app-resourcecard *ngFor="let resource of resources" title="{{resource.title}}" image="{{resource.image}}"
                description="{{resource.description}}" link="{{resource.link}}"></app-resourcecard>
        </div>
    </div>
</div>
<app-footer></app-footer>