/* You can add global styles to this file, and also import other style files */
:root {
    --bluedark: #618DFF;
    --black: rgb(33, 33, 33);
}
@font-face {
    font-family: "Kollektif";
    src: local("Oxygen"), url(./assets/Kollektif.ttf) format("truetype");
}

html,
body {
    min-height: 100%;
}
html{
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



p {
    font-size: large;
    white-space: pre-line;
}

.section {
    display: flex;
    justify-content: center;
}

.blue {
    background-color: var(--bluedark);
    color: white;
}

.grey {
    background-color: #F3F3F3;
}

.contentcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 80px 1rem;
    width: 1000px;
    max-width: 1000px;

}

.contentcontainer h1 {
    line-height: 3rem;
}

.contentcontainer h1 {
    font-size: 3rem;
    font-weight: 300;
}

.contentcontainer p {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.7rem;
}

#header {
    margin-top: 100px;
}

.splitcontainer {
    display: flex;
    gap: 2rem;
}

.splitcontainer .section1 {
    padding: 1rem;
    flex: 1;
}

.splitcontainer .section2 {
    padding: 1rem;
    flex: 1;
}

a {
    color: var(--bluedark);
}

@media only screen and (max-width: 820px) {

    .contentcontainer h1 {
        line-height: 3rem;
        text-align: center;
    }

    .splitcontainer {
        flex-direction: column;
        text-align: center;
    }

    .splitcontainer .section2 {
        padding: 0;
    }

}