/* You can add global styles to this file, and also import other style files */
:root {
    --bluedark: #618DFF;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
    font-size: large;
}

.section {
    display: flex;
    justify-content: center;
}

.blue {
    background-color: var(--bluedark);
    color: white;
}

.grey {
    background-color: #F3F3F3;
}

.contentcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 80px 1rem;
    width: 1000px;
    max-width: 1000px;

}

.contentcontainer h1 {
    font-size: 3rem;
    font-weight: 300;
}

.contentcontainer p {
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.7rem;
}

.splitcontainer {
    margin-top: 40px;
    display: flex;
    gap: 2rem;
}

.splitcontainer .section1 {
    padding: 1rem;
    flex: 1;
}

.splitcontainer .section2 {
    padding: 1rem;
    flex: 1;
}



@media only screen and (max-width: 820px) {

    .contentcontainer h1 {
        line-height: 3rem;
    }

    .splitcontainer {
        flex-direction: column;
    }

    .splitcontainer .section2 {
        padding: 0;
    }

}