.top {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}


.mat-card-avatar {
    width: 15rem;
    height: 15rem;
}

.decoration {
    opacity: 0.2;
    position: absolute;
    right: 0;
    bottom: -1.1rem;
}

.decoration h1 {
    font-weight: 300;
    z-index: -1;
}

.subjects {
    width: 100%;
    position: relative;
    padding: 1rem 0;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

p {
    padding-top:1rem;
    white-space: pre-line;
}

@media only screen and (max-width: 820px) {
    .top {
        flex-direction: column;
        padding: 1rem 0;
    }
}