.top {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.mat-card-avatar {
    width: 15rem;
    height: 15rem;
}

.subjects {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

p {
    white-space: pre-line;
}

@media only screen and (max-width: 820px) {
    .top {
        flex-direction: column;
    }
}